In [ ]:
print("100")
# ""안에 글자나 문자는 무조건 문자열 데이터 타입
# 문자열 데이터 타입 -> 문자열에서만 지원하는 기능
# 문자열의 갯수, 문자열에 존재하는 위치(인덱스) 등등
# ""안에 있는 것은 문자 데이터 타입으로 수학연산이 안됨
print("%d" % 100)
# 숫자형 데이터 타입을 사용
# 사칙연산 등등 숫자로만의 기능을 지원

<!-- 웹페이지에 회원가입

1. 아이디
2. 비번
3. 주소
4. 전화번호
5. 회원번호
가 있을때 넣을 수 있는 서식형에 따라 달라진다 
ex) 아이디 , 비번, 주소, 전화번호는 문자열로 회원번호는 숫자형으로 넣는등등 -->

In [ ]:
print("100+100")
print("%d"%(100+100))

100+100
200

In [ ]:
print("%d"%(100, 200))
print("%d %d"%(100))

TypeError: not all arguments converted during string formatting

In [ ]:
print("100, 200")

100, 200

In [ ]:
print("%d %d"%(100, 200))

100 200

100 45 200을 출력하도록 코드작성 해보세요

In [ ]:
print("%d, %d, %d"%(100, 45, 200))

100 45 200

In [ ]:
print("%d"%123)
print("%5d"%123)
# d 앞에 있는 숫자는 총 자릿수를 의미 
# d 앞에 아무것도 없으면 공백으로 처리
# d앞에 숫자 앞에 숫자가 들어가면 그 숫자가 들어감
print("%05d"%123)

123
  123
00123

In [ ]:
#소수가 있는 숫자 형태의 출력
print("%f"%123.45)
print("%7.1f"%123.45,"원")
print("%7.2f"%123.45,"원")
print("%7.3f"%123.45,"원")

123.450000
  123.5 원
 123.45 원
123.450 원

In [ ]:
#문자열 출력 방법
print("%s"%"python","원")
print("%10s"%"python")

python 원
    python

format( ) 함수와 { }를 함께 사용해 서식 지정

In [ ]:
print("%d %5d %05d"%(123, 123, 123))
print("{0:d} {1:5d} {2:05d}".format(123, 123, 123))
print("{0:d} {1:5d} {2:05d}".format(123, 1123, 2123))
print("{0:d} {2:5d} {1:05d}".format(123, 1123, 2123))
#  {0번:형태}{2번:형태}{1번:형태}    0번   1번   2번
print("{0:d} {2:5d} {1:05d} {0:10d}".format(123, 1123, 2123))

123   123 00123
123   123 00123
123  1123 02123
123  2123 01123
123  2123 01123        123

In [ ]:
print("\n줄바꿈\n연습") #n = new line
print("\t탭키\t연습") #t = tab
print("글자가\'강조\'되는 효과1")
print("글자가\"강조\"되는 효과1")
print("\\\\\\ 역슬래시 3개 출력")
print(r"\n \t \" \\를 그대로 출력")

줄바꿈
연습
	탭키	연습
글자가'강조'되는 효과1
글자가"강조"되는 효과1
\\\ 역슬래시 3개 출력
\n \t \" \\를 그대로 출력

In [ ]:
print("      *      ")
print("     ***     ")
print("    *****    ")
print("   *******   ")
print("  *********  ")
print("   *******   ")
print("    *****    ")
print("     ***     ")
print("      *      ")

      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

In [ ]:
print("  *********  ")
print("   *******   ")
print("    *****    ")
print("     ***     ")
print("      *      ")
print("     ***     ")
print("    *****    ")
print("   *******   ")
print("  *********  ")

  *********
   *******
    *****
     ***
      *
     ***
    *****
   *******
  *********

In [ ]:
print("      *      ")
print("     ***     ")
print("    *@***    ")
print("   ****@**   ")
print("  **0******  ")
print(" ****0***@** ")
print("***0********@")
print("      ****   ")
print("      ****   ")

      *
     ***
    *@***
   ****@**
  **0******
 ****0***@**
***0********@
      ****
      ****

## 변수의 선언과 사용

* 파이썬은 자바, C++과 다르게 변수선언을 하지 않아도 사용 가능

[자바] int a = 5;  <- int형 데이터만 a 변수에 추가할 수 있음

[Python] a = 5  <- 실숫, 문자열 등 다른 데이터를 추가할 수 있음

In [ ]:
boolVal = True # 불형 변수 : True 또는 False
intVal = 0 # 정수형 변수 : -1, 0, 1, 2 ...
floatVal = 0.0 # 실수형 변수 : 소수가 있는 숫자 0.1
strVal = "" # 문자열 변수 : ", "" 따옴표로 되어있는 텍스트

Type() 함수 : 변수의 데이터 형태를 파악하는 함수

In [4]:
boolVal = True # 불형 변수 : True 또는 False
intVal = 0 # 정수형 변수 : -1, 0, 1, 2 ...
floatVal = 0.0 # 실수형 변수 : 소수가 있는 숫자 0.1
strVal = "" # 문자열 변수 : ", "" 따옴표로 되어있는 텍스트

print(type(boolVal))
print(type(intVal))
print(type(floatVal))
print(type(strVal))
# 결과가 bool이라고 나옴

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>

새로운 값을 담으면 기존 값은 없어지고 새로운 입력값으로 변경됨

In [ ]:
boolVal = False
# boolVal 에 False가 대입됨

In [6]:
var2 = 200
var1 = var2
print(var1)

var1 = 100 + 100
print(var1)

var1 = var2 + 100
print(var1)

200
200
300

In [ ]:
var1 = var2 = var3 = var4 = 100

var1 = True
# 별 문제 없이 100이 입력 var1에 True가 입력
# java는 자료형 변수 선언과 같이 해야함.(쓰기는 불편하지만 메모리관리 장점)
# PYthon은 자유롭게 여러 자료형을 대입할 수 있다.(메모리 관리 차원에서는 조금 단점)

print(var1)

True

진수 변환

bin() : 입력 숫자를 2진수으로 변환 해주는 함수
oct() : 입력 숫자를 8진수으로 변환 해주는 함수
hex() : 입력 숫자를 16진수으로 변환 해주는 함수

In [9]:
print(bin(11), bin(0o11), bin(0x11))
print(oct(11), oct(0o11), oct(0x11))
print(hex(11), hex(0o11),  hex(0x11))

0b1011 0b1001 0b10001
0o13 0o11 0o21
0xb 0x9 0x11

In [ ]:
a = 0xFF # 16진수 hexadeical
b = 0o77 # 8진수 octal
c = 0b1111 # 2진수 binary
print(a, b, c)

255 63 15

## 숫자 연산

In [ ]:
# b = 3.14e5 # 1.14 * 10*(5)
# print(b)
# 사칙연산, 제곱, 나머지연산자, 소수점을 버리는 연산자
a = 9; b = 2
print(a+b) # 덧셈
print(a-b) # 뺄셈
print(a*b) # 곱셈
print(a/b) # 나눗셈
print(a**b) # a^(b)
print(a%b) # 나머지 연산
print(a//b) # 몫 연산 : 나눈 후 소수점을 버리는 연산

11
7
18
4.5
81
1
4

In [ ]:
# if 문, for문에 대응이 될 예정
a = (100 == 100) # 100과 100이 같은지를 물음 : == 왼쪽, 오른쪽이 같음을 물음
b = (10 > 100) # 10이 100보다 큰지를 물음
print(a, b)

True False