In [ ]:
# 1. 
print("(^-^)")

print("(-.-)")

(^-^)
(-.-)

In [ ]:
# 2. 
print("안녕하세요\n 저는 이성우 입니다.")

안녕하세요
 저는 이성우 입니다.

In [ ]:
# 3. 
a = 20
b = 10
c = a + b
print(f"{a}+{b}={c}")

20+10=30

In [26]:
# 4 .
x, y = 3.14, 20
a = "%.3f" %x
b = "%5d" %y
print(a)
print(b)

3.140
   20

In [ ]:
# 5. 
print(20 + 10)
print(20 - 10)
print(20 * 10)
print(20 / 10)
print(10 % 3)

30
10
200
2.0
1

In [ ]:
# 6. 
a = 1000000
b = 0.01
c = 5
d = a*(1+b)**(c)
print(d)

1051010.0501

In [1]:
# 7. 
a = 2500
b = 0.1
c = 5*(a+(a*b))
print(c)

13750.0

In [ ]:
# 8.
r = 10
pi = 3.14
c = 2*pi*r
s = pi*(r**2)
print("원주=", c)
print("면적=", s)

원주= 62.800000000000004
면적= 314.0

In [3]:
# 9.
i, sum = 0, 0

for i in range(0,101):
    sum = sum + i
    
print(sum)

5050

In [ ]:
# 10. 
n = 4
p = 1
for i in range(n):
    d = 

print(f"2**{n:d}={p:d}")

In [11]:
# 11.
a = str("10")
b = str("20")
c = a + b

print(f"값 a? : {a}\n값 b? : {b}\n{c}")

값 a? : 10
값 b? : 20
1020

In [12]:
# 12.
a = 10
b = 20
c = a + b

print(f"값 a? : {a}\n값 b? : {b}\n{c}")

값 a? : 10
값 b? : 20
30

In [4]:
# 13.
a = float(10)
b = float(20)
c = a + b

print(f"값 a : {a}\n값 b : {b}\n{c}")

값 a : 10.0
값 b : 20.0
30.0

In [8]:
# 14.

for i in range(0,3):
    for j in range(0,10):
        print("*",end="")
    print()

**********
**********
**********

In [9]:
# 15. 
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [13]:
# 16. 
for i in range(1,5):
    for j in range(i,5):
        print('*',end='')
    print()

****
***
**
*

In [16]:
# 17. (1)
for i in range(2,3):
    for j in range(1, 10):
        print(f"{i}X{j}={i*j}")

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

In [25]:
# 17. (2) (모르겠어서 참고 많이 했습니다.)
for i in range(1,10):
    a = ""
    for j in range(2, 10):
        a = a +str("%2d x %2d = %2d  " % (j, i, i*j))
    print(a)

 2 x  1 =  2   3 x  1 =  3   4 x  1 =  4   5 x  1 =  5   6 x  1 =  6   7 x  1 =  7   8 x  1 =  8   9 x  1 =  9
 2 x  2 =  4   3 x  2 =  6   4 x  2 =  8   5 x  2 = 10   6 x  2 = 12   7 x  2 = 14   8 x  2 = 16   9 x  2 = 18
 2 x  3 =  6   3 x  3 =  9   4 x  3 = 12   5 x  3 = 15   6 x  3 = 18   7 x  3 = 21   8 x  3 = 24   9 x  3 = 27
 2 x  4 =  8   3 x  4 = 12   4 x  4 = 16   5 x  4 = 20   6 x  4 = 24   7 x  4 = 28   8 x  4 = 32   9 x  4 = 36
 2 x  5 = 10   3 x  5 = 15   4 x  5 = 20   5 x  5 = 25   6 x  5 = 30   7 x  5 = 35   8 x  5 = 40   9 x  5 = 45
 2 x  6 = 12   3 x  6 = 18   4 x  6 = 24   5 x  6 = 30   6 x  6 = 36   7 x  6 = 42   8 x  6 = 48   9 x  6 = 54
 2 x  7 = 14   3 x  7 = 21   4 x  7 = 28   5 x  7 = 35   6 x  7 = 42   7 x  7 = 49   8 x  7 = 56   9 x  7 = 63
 2 x  8 = 16   3 x  8 = 24   4 x  8 = 32   5 x  8 = 40   6 x  8 = 48   7 x  8 = 56   8 x  8 = 64   9 x  8 = 72
 2 x  9 = 18   3 x  9 = 27   4 x  9 = 36   5 x  9 = 45   6 x  9 = 54   7 x  9 = 63   8 x  9 = 72   9 x  9 = 81

In [3]:
# 18.(a)
inventory = {"apple":"10", "banana":"5", "orange":"8"}
a = input("과일 이름을 입력하세요 : ")
print(f"{a}의 재고는{a}입니다.".inventory[a])

AttributeError: 'str' object has no attribute 'inventory'

In [ ]:
y_dict = {"name":"lsw", "age":"42", "city":"Daegu"}
print(my_dict["name"])