In [ ]:
# 1. 
print("(^-^)")

print("(-.-)")

(^-^)
(-.-)

In [ ]:
# 2. 
print("안녕하세요\n 저는 이성우 입니다.")

안녕하세요
 저는 이성우 입니다.

In [ ]:
# 3. 
a = 20
b = 10
c = a + b
print(f"{a}+{b}={c}")

20+10=30

In [ ]:
# 4 .
x, y = 3.14, 20
a = "%-3f" %x
b = "%5d" %y
print(a)
print(b)

3.140000
   20

In [ ]:
# 5. 
print(20 + 10)
print(20 - 10)
print(20 * 10)
print(20 / 10)
print(10 % 3)

30
10
200
2.0
1

In [ ]:
# 6. 
a = 1000000
b = 0.01
c = 5
d = a*(1+b)**(c)
print(d)

1051010.0501

In [1]:
# 7. 
a = 2500
b = 0.1
c = 5*(a+(a*b))
print(c)

13750.0

In [ ]:
# 8.
r = 10
pi = 3.14
c = 2*pi*r
s = pi*(r**2)
print("원주=", c)
print("면적=", s)

원주= 62.800000000000004
면적= 314.0

In [ ]:
# 9.
for i in range(1,100):
    i = i+i
    sum = 
    print(sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [ ]:
# 10. 
n = 4
p = 1
for i in range(n):
    d = 

print(f"2**{n:d}={p:d}")

In [11]:
# 11.
a = str("10")
b = str("20")
c = a + b

print(f"값 a? : {a}\n값 b? : {b}\n{c}")

값 a? : 10
값 b? : 20
1020

In [12]:
# 12.
a = 10
b = 20
c = a + b

print(f"값 a? : {a}\n값 b? : {b}\n{c}")

값 a? : 10
값 b? : 20
30

In [ ]:
# 13.
a = str("10")
b = str("20")
c = a + b

print(f"값 a? : {a}\n값 b? : {b}\n{c}")

In [8]:
# 14.

for i in range(0,3):
    for j in range(0,10):
        print("*",end="")
    print()

**********
**********
**********

In [9]:
# 15. 
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [10]:
# 16. 
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [ ]:
# 17.